<!-- 
<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-text-center">
            
            <ion-col size="4">
                <ion-button (click)="onClick()" fill="clear">
                    <ion-icon  src="assets/icon/react/angry.svg" size="huge"></ion-icon>
                </ion-button>
                <p>Angry</p>
            </ion-col>
            <ion-col size="4">
                <ion-button (click)="onClick()" fill="clear">
                    <ion-icon  src="assets/icon/react/sad.svg"></ion-icon>
                </ion-button>
                <p>Sad</p>
            </ion-col>
            <ion-col size="4">
                <ion-button (click)="onClick()" fill="clear">
                    <ion-icon  src="assets/icon/react/neutral.svg"></ion-icon>
                </ion-button>
                <p>Not impressed</p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center"> 
            <ion-col size="6">
                <ion-button (click)="onClick()" fill="clear">
                    <ion-icon  src="assets/icon/react/smile.svg"></ion-icon>
                </ion-button>
                <p>Nice</p>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="onClick()" fill="clear">
                    <ion-icon  src="assets/icon/react/shocked.svg"></ion-icon>
                </ion-button>
                <p>Wow</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
  -->