.title-block {
  padding-top: 0px;
}

.count-btn {
  margin-top: 20px;
}

.size-btn {
  margin-top: 10px;
}

.item-img {
  padding-top: 0;
  border-radius: 5px;
}
.cart {
  --padding-start: 0;
  text-align: center!important;
}
.checkout_btn {
  position: absolute;
  bottom: 10px;
  width: 95%;
   margin: auto!important;
  
}
.emptyCart{
  position: absolute;
  margin: auto;
  text-align: center;
  width: 95%;
  top: 300px;
}
